*{
    margin: 0%;
    padding: 0%;
}
main{
    background: linear-gradient(to right, rgb(126, 17, 177),rgb(224, 73, 224));
    width: 100vw;
    height: 100vh; 
    position: fixed; 
}
.watch{
    width: 50vmin;
    height: 50vmin; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(253, 163, 45);  
    border: 20px solid;
    border-style: inset;
    border-color: rgba(163, 143, 182,0.7);
    border-radius: 50vmin;
}
.h{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: rotate(-90deg); 
    transform-origin: 0%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.62, 0.58, 1);
}
.hr-hand{
    width: 18vmin;
    height: 9px;
    background-color: rgb(57, 11, 100);
    border-radius: 10px; 
    z-index: 1.5;    
}
.min-hand{
    width: 24vmin;
    height: 9px;
    background-color: rgb(57, 11, 100);
    border-radius: 10px;    
    z-index: 1.4;   
}
.sec-hand{
    width: 24vmin;
    height: 5px;
    background-color: rgb(199, 6, 103);
    border-radius: 10px;   
    z-index: 1.3; 
}
.mpt{
     width: 2vmin;
     height: 2vmin;
     background-color: rgb(238, 16, 16);
     border: 4px outset rgba(252, 118, 118,0.7);
     border-radius: 2vmin;
     margin: auto;
     margin-top: 24vmin;
     position: relative;
     z-index: 2;
}