*{
    margin: 0%;
    padding: 0%;
}
main{
    background: linear-gradient(to right, rgb(63, 12, 182),rgb(129, 94, 223));
    width: 100vw;
    height: 100vh; 
    position: fixed; 
}
.watch{
    width: 50vmin;
    height: 50vmin; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("../img/watch.png"); 
    background-repeat: no-repeat;
    background-size: 50vmin;
    background-color: rgb(139, 168, 146);  
    border: 20px solid;
    border-style: inset;
    border-color: rgba(163, 143, 182,0.7);
    border-radius: 50vmin;
}
.h{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: rotate(-90deg); 
    transform-origin: 0%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.62, 0.58, 1);
}
.hr-hand{
    width: 15.5vmin;
    height: 9px;
    background-color: rgb(254, 253, 255);
    border-radius: 10px; 
    z-index: 1.5;    
}
.min-hand{
    width: 19vmin;
    height: 9px;
    background-color: rgb(242, 239, 243);
    border-radius: 10px;    
    z-index: 1.4;   
}
.sec-hand{
    width: 20vmin;
    height: 5px;
    background-color: rgb(199, 6, 103);
    border-radius: 10px;   
    z-index: 1.3; 
}
.mpt{
     width: 2vmin;
     height: 2vmin;
     background-color: rgb(115, 255, 133);
     border: 4px outset rgba(118, 252, 189, 0.7);
     border-radius: 2vmin;
     margin: auto;
     margin-top: 24vmin;
     position: relative;
     z-index: 2;
}